* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(
    to top,
    #817c67 1%,
    #b69147 31%,
    #b69147 75%,
    #e9e9e7 100%
    );
}
.container {
    display: grid;
    grid-template-columns: 200px 4fr 1fr;
    grid-template-areas:
    "navbar navbar navbar"
    "sidebar main section"
    "footer footer footer";
}
.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1.3rem 3rem;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    box-shadow: -3px 7px 10px black;
}
.navbar__search {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar__placeholder {
    display: block;
    height: 2rem;
    text-transform: uppercase;
}
.navbar img{
    width: 80px;
} 
.sidebar {
    display: flex;
    align-items: center;
    width: 200px;
    flex-direction: column;
    min-height: 100vh;
    grid-area: sidebar;
}
.sidebar__title {
    padding: 3rem 0;
    font-weight: 700;
}
.sidebar__content {
    display: flex;
    flex-direction: column;
}
.sidebar__link {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem 0;
}
.sidebar__link:hover {
    opacity: 50%;
}
.main {
    grid-area: main;
}
.main__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 340px));
    margin: 3rem 0rem;
    justify-content: center;
    gap: 3rem;
}
.main__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(211 211 211);
    text-align: center;
    padding: 0.3rem;
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.315);
}
.main__card__img {
    width: 100%;
    border-radius: inherit;
    height: 225px;
    object-fit: cover;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.315);
}
.main__card__title {
    margin: 1rem 0;
}
.main__card__descripción {
    border-top: 1px solid black;
    padding: 1.5rem 0;
}
.main__card__precio {
    padding-bottom: 2rem;
    font-size: 1.3rem;
    color: rgb(82, 150, 82);
}
.main__card__link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #434343;
    padding: 0.4rem 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}
.main__card__link:hover {
    background-color: white;
    color: #434343;
    font-weight: 700;
}
.right__section {
    grid-area: section;
}
.right__section__cards {
    margin-top: 3rem;
    padding: 0 2rem;
}
.right__section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ac9c57;
    text-align: center;
    width: 270px;
    padding: 0.3rem;
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.315);
}
.right__section__card__title {
    margin: 1rem 0;
    color: #fff;
    padding: 0 1rem;
}
.right__section__card__img {
    width: 150px;
    margin-bottom: 1rem;
}
.right__section__card__link {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
    background-color: #fff;
    padding: 0.4rem 1.3rem;
    border-radius: 30px;
    margin-bottom: 1rem;
    font-weight: 700;
}
.right__section__card__link:hover {
    opacity: 50%;
}

.right__section__card--2 {
    background-image: linear-gradient(-225deg,
    #ffffff 0%,
    #8e975c 29%,
    #b69147 67%
    );
    margin-top: 3rem;
}
.right__section__card img{
    width: 200px;
}
.footer {
    grid-area: footer;
    background-image: linear-gradient(to right, #111416 20%, #706e6b 100%);
    color: white;
    padding: 1.3rem 0;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    text-align: center;
}